body {
    font-family: sans-serif;
    color: white;
}
.menu {
    position: relative;
    float:right;
    display: inline-block;
    z-index: 5;
    font-family: monospace;
    text-transform: uppercase;
    margin:1rem;
    font-size: 1em;
}

header {
  width: 100%;
display: inline-block;
background-color: #f3f3f3;
}


footer {
    position: absolute;
    bottom: 10%;
    left: 30px;
    font-family: monospace;
    font-size: 3.8em;
    font-weight: bold;
}
